body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Dosis', serif;
    font-weight: 300; 
}

h1 {
    text-align: left;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}

ul {
    list-style-type: none;
    display:inline-block;
}
/* Navigation */
nav{
    float: right;
    margin-top: 10px;
}

nav ul{
    margin: 0 auto;
}

nav ul li{
    display: inline-block;
}

nav > ul > li > a{
    color: rgb(255, 255, 255);
    line-height: 2em;
    padding: 0.1em 2em;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}

.bg-div{
   background:black;
   padding: 10px;
   overflow: hidden;
   display: table;
    width: 100%;
    margin: 0 auto;
    padding: 25px 80px;
    box-sizing: border-box;
}
.row{
	overflow:auto;
}

.column{
	float:left;
	width:30%;
	overflow:auto;
	margin:20px 1%;
	font-family:Helvetica, Arial, sans-serif;
}

.column4{
	float:left;
	width:25%;
}

.search {
    float: left;
    margin: 20px;
}


footer p {
    text-align: center;
}

.footer-look{
	background-color: black;
	font-family:'Dosis', sans-serif;
	color:white;
	padding:2%;
}

a:hover{
    background-color: darkorange;
}

a:visited {

    background-color: rgb(245, 88, 26);
}

a{
    text-decoration: none;
}

.container img{
	width:100%;
	margin-bottom:1%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;

}

button{

    background: rgb(245, 88, 26);
    border: 2px solid rgb(245, 88, 26);

}

.container {
    position: relative;
    text-align: justify;
    font-size: 50px;

  }
  
  /* Bottom left text */
  .left {
    position: absolute;
    margin: 5px;
    top: 300px;
    left: 16px;
  }

li{
    font-family: 'Bitter', serif;
    font-size: 25px;
    list-style: square;
    margin-right: 20px;
}
